## Support Vector Machines
### Forest Fires

In [1]:
# classify the Size_Categories using SVM

In [2]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, cross_val_score

In [3]:
forest_fire=pd.read_csv('forestfires.csv')
forest_fire.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [4]:
forest_fire = forest_fire.drop(['month','day'], axis = 1)

In [5]:
forest_fire.head()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,0,0,1,0,0,0,0,small
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,small
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,small
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,1,...,0,0,0,0,1,0,0,0,0,small
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,0,...,0,0,0,0,1,0,0,0,0,small

In [6]:
forest_fire.shape

(517, 29)

In [7]:
#defining features and target variable
X = forest_fire.iloc[:,0:28]
Y = forest_fire.iloc[:,-1]

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3)

In [9]:
#SVM Classification using Kernels: linear,poly,rbf

In [10]:
#kernel=linear
model_linear=SVC(kernel='linear')
model_linear.fit(X_train,Y_train)
train_pred_linear=model_linear.predict(X_train)
test_pred_linear=model_linear.predict(X_test)
train_lin_acc=np.mean(train_pred_linear==Y_train)
test_lin_acc=np.mean(test_pred_linear==Y_test)

In [11]:
train_lin_acc

1.0

In [12]:
test_lin_acc

0.9807692307692307

In [13]:
#kernel=poly
model_poly=SVC(kernel='poly')
model_poly.fit(X_train,Y_train)
train_pred_poly=model_poly.predict(X_train)
test_pred_poly=model_poly.predict(X_test)
train_poly_acc=np.mean(train_pred_poly==Y_train)
test_poly_acc=np.mean(test_pred_poly==Y_test)

In [14]:
train_poly_acc

0.7534626038781164

In [15]:
test_poly_acc

0.8205128205128205

In [16]:
#kernel=rbf
model_rbf=SVC(kernel='rbf')
model_rbf.fit(X_train,Y_train)
train_pred_rbf=model_rbf.predict(X_train)
test_pred_rbf=model_rbf.predict(X_test)
train_rbf_acc=np.mean(train_pred_rbf==Y_train)
test_rbf_acc=np.mean(test_pred_rbf==Y_test)

In [17]:
train_rbf_acc

0.7285318559556787

In [18]:
test_rbf_acc

0.8141025641025641